<!-- The view where we display the detail of the TV show that is selected -->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="media">
				<div class="pull-left">
					<img class="media-object img-rounded" ng-src="{{show.poster}}">
					<div class="text-center" ng-if="currentUser">
						<!-- This only displays if the user is NOT already subscribed to updates -->
						<div ng-show="!isSubscribed()">
							<button class="btn btn-block btn-success" ng-click="subscribe()">
								<span class="glyphicon glyphicon-plus"></span>Subscribe
							</button>
						</div>
						<!-- Thsi only displays if user si already subscribed -->
						<div ng-show="isSubscribed()">
							<button class="btn btn-block btn-danger" ng-click="unsubscribe()">
								<span class="glyphicon glyphicon-minus"></span>Unsubscribe
							</button>
						</div>
					</div>
					<!-- Only displays if no user is currently logged in -->
					<div class="text-center" ng-show="!currentUser">
						<a href="#/login" class="btn btn-block btn-primary">Login to Subscribe</a>
					</div>
				</div>
				<div class="media-body">
					<!-- The heading with the name and rating of the show -->
					<h2 class="media-heading">{{show.name}}
						<span class="pull-right text-danger">{{show.rating}}</span>
					</h2>
					<!-- Displaying the airtime of the show if it's still running -->
					<h4 ng-show="show.status === 'Continuing'">
						<span class="glyphicon glyphicon calendar text-danger"></span>
						{{show.airsDayOfWeek}} <em> {{show.airsTime}} </em> on {{show.network}}
					</h4>
					<!-- This is only displayed if the show has ended -->
					<h4 ng-show="show.status === 'Ended'">
						Status: <span class="text-danger">Ended</span>
					</h4>
					A summary of the show
					<p>{{show.overview}}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- This calculates the next episode airtime and displays in an infobox IF one exists which is checked with nextEpisode filter -->
	<div class="alert-info alert" ng-show="nextEpisode">
		<!-- The fromNow is a filter to get the fancy date from moment.js from nextEpisode date
		Eg. "2 days from now" -->
		The next episode starts {{nextEpisode.firstaired | fromNow}}.
	</div>

	<!-- This displays info on all the episodes -->
	<div class="panel panel-default">
		<div class="panel-heading"><span class="glyphicon glyphicon-play"></span>Episodes</div>
		<div class="panel-body">
			<div class="episode" ng-repeat="episode in show.episodes">
				<h4>
					{{episode.episodeName}}
					<small>
						Season {{episode.season}}, Episode {{episode.episodeNumber}}
					</small>
				</h4>
				<p><span class="glyphicon glyphicon-calendar"></span>{{episode.firstAired | date: 'short'}}</p>
				<p> {{episode.overview}} </p>
			</div>
		</div>
	</div>
</div>